@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
.game-content {
    width: 100%;
    height: 100%;
}
.cover {
    background-color: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0%;
}
.open {
    animation: open 0.5s;
    animation-fill-mode: forwards;
}
.close {
    animation: open 0.5s reverse;
    animation-fill-mode: forwards;
}
@keyframes open {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}